   @media only screen and  (min-width:280px)  and (max-width:599px) { 
   .heading-h2{ display:inline-block!important; width:100%;}
  .heading-h3{ display:inline-block!important; width:100%;}
 .custom-padding .rspns-pdng, .custom-padding .col-md-7, .custom-padding .col-md-8, .custom-padding .col-md-9{ padding:0;}
  .container1 {
    position: relative;
    width: 100%;
    top: 0px!important;
    right: 0;
    clear: both;
    overflow: hidden;
}

  }
 



  @media only screen and  (min-width:600px)  and (max-width:1020px) { 
   .heading-h2{ display:inline-block!important; width:100%;}
  .heading-h3{ display:inline-block!important; width:100%;}
 .custom-padding .rspns-pdng, .custom-padding .col-md-7, .custom-padding .col-md-8, .custom-padding .col-md-9{ padding:0;}
 
  }
.dashboard-heading { border-top:1px solid #d7d7d7; margin-top:3px!important;     padding: 12px 22px 7px!important; margin-left:-16px; margin-right:-16px; background:#fafafa!important;  margin-bottom:25px!important;}
.dashboard-heading .pull-right{ margin-right:7px; text-transform:capitalize; }
.dashboard-heading .btn{ font-weight:100!important;}
.dashboard-heading .btn .fa, .dashboard-heading .btn .glyphicon {
        font-size: 14px;
    width: 30px;
    background: #ddd;
    position: relative; 
    left: -15px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px 0 0px 3px;
}