# Ignore folder named `uploads`
/uploads/

# Ignore folder named `assets/uploads`
/assets/uploads/

# Ignore folder named `assets/uploads`
/assets/aws_api/src/MarketplaceWebServiceOrders/Samples/.config.inc.php

# Ignore folder named `assets/uploads`
/assets/aws_api/return/src/MarketplaceWebService/Samples/.config.inc.php

# Ignore file named `application/config/config.php`
/application/config/config.php

# Ignore file named `application/config/database.php`
/application/config/database.php